 /*HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
.myimages{
	width:250px;
	height:250px;
	margin-left:100px;
}
#intr{
	width:1200px;
	height:700px;
}
#intrtext{
	float:left;
}
#mds{	
	overflow-x: visible;
	overflow-y: visible;
	width:700px;
	height:auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.polaroid_box {
	margin:20px 0 0px 25px;
}
ul.polaroids {
	width: 95%;
	margin: 0px 0px 18px 0px;
	float: left;
	list-style: none;
	padding: 10px;
}
.polaroids li {
	display: inline;
}
.polaroids a {
	background: #fff;
	display: inline;
	float: left;
	margin: 0 0 0px 20px;
	width: auto;
	padding: 10px 10px 5px;
	text-align: center;
	font-family: "Marker Felt", sans-serif;
	text-decoration: none;
	color: #333;
	font-size: 16px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-webkit-transform: rotate(-2deg);
	-webkit-transition: -webkit-transform .15s linear;
	-moz-transform: rotate(-2deg);
}
.polaroids img {
	display: block;
	height: 160px;
	width: 160px;
	margin-bottom: 0px;
}
.polaroids img.small {
	height: 100px;
	width: 100px;
}
.polaroids a:after {
	content: attr(title);
}
.polaroids li a:hover,
.polaroids .front a:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	position: relative;
	z-index: 2;
}
#school, .pe{
	color:#FF0000;
}
body {
    font-family: 'PT Sans', sans-serif;

    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(220, 220, 220)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
    background:         radial-gradient(rgb(240, 240, 240), rgb(220, 220, 220));

}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

 /*enable clicking on elements 'hiding' behind body in 3D*/
body     { pointer-events: none; }
#impress { pointer-events: auto; }

 /*COMMON STEP STYLES*/
.step, .step pre {

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: Helvetica, georgia, serif;

    font-size: 24px;
    line-height: 1.2;
}

 /*fade out inactive slides*/

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.step:not(.active) {
    opacity: 0.3;
}

/* STEP SPECIFIC STYLES */
/* hint on the first slide */
.hint {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 50px;
    z-index: 100;

    opacity: 0;

    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-on-bored .hint {
    opacity: 1;

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s;
    transition:         opacity 1s 5s,         transform 0.5s;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);
}

/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}
